.project-introduction {
    
    .my-container {
        padding-left: 10%;
        padding-right: 10%;
        background-color: #000;
    }

    .introduction {
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: justify;
        a {
            color: #000;
            text-decoration: underline;
            &:hover {
                color: $purple;
            }
        }
    }

}