.home {
    .jumbotron {
        background-color: $mid-purple !important;
        border-radius: 0;
        color: #fff;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #fff;
        margin: 1em 0;
        padding: 0; 
    }
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $purple;
        .card {
            max-width: 400px;
            margin-top: 20px;
            margin-bottom: 30px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 5%;
            background-color: #333;
            .btn-round {
                height: 47px !important;
            }
            .card-text {
                text-align: justify;
            }
            .card-title {
                text-align: center;
            }
            &.santander-red-card {
                background-color: $santander-red;
            }
            &.math-3d-card {
                background-color: black;
            }
            &.exam-adapt-card {
                background-color: $exam-adapt-color;
                .card-text {
                    color: #fff;
                    text-align: justify;
                }
                .card-title {
                    color: #fff;
                    text-align: center;
                }                
                img {
                    border-radius: 50%;
                    width: 180px;
                    height: 180px;
                }
            }
            &.geriatron-card {
                background-color: $geriatron-color;
                img {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                }
            }
        }
    }
    h1 {
        font-weight: 800;
        margin-bottom: 40px;
    }
}