.my-work {
    .jumbotron {
        background-color: $mid-purple !important;
        border-radius: 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h1 {
            font-size: 48px;
            margin-left: 20px;
        }
        p {
            margin-left: 20px;
            font-size: 28px;
        }
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #fff;
        margin: 1em 0;
        padding: 0; 
    }
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $purple;
        .card {
            max-width: 400px;
            margin-top: 20px;
            margin-bottom: 30px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 5%;
            background-color: #333;
            .btn-round {
                height: 47px !important;
            }
            .card-text {
                text-align: left;
            }
            .card-title {
                text-align: center;
            }
            .card-bottom-apple {
                padding-top: 80px;
            }
            .card-bottom-apple-es {
                padding-top: 60px;
            }
            .card-bottom-espora {
                padding-top: 80px;
            }
            .card-bottom-espora-es {
                padding-top: 85px;
            }
            .card-bottom-math-iso {
                padding-top: 20px;
            }
            .card-bottom-math-iso-es {
                padding-top: 50px;
            }
            .card-bottom-geriatron {
                padding-top: 30px;
            }
            .card-bottom-geriatron-es {
                padding-top: 5px;
            }
            &.santander-red-card {
                background-color: $santander-red;
            }
            &.math-3d-card {
                background-color: black;
                img {
                    height: 180px;
                }
            }
            &.exam-adapt-card {
                background-color: $exam-adapt-color;
                .card-text {
                    color: #fff;
                    text-align: justify;
                }
                .card-title {
                    color: #fff;
                    text-align: center;
                }                
                img {
                    border-radius: 50%;
                    width: 180px;
                    height: 180px;
                }
            }
            &.iso-blade-card {
                background-color: $iso-blade-color;
                .card-text {
                    color: $mid-purple;
                    text-align: justify;
                    font-weight: 800;
                }
                .card-title {
                    color: $mid-purple;
                    text-align: center;
                    font-weight: 800;
                }  
                img {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                }
            }
            &.espora-card {
                background-color: black;
                img {
                    height: 100px;
                }
            }
            &.geriatron-card {
                background-color: $geriatron-color;
                img {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                }
            }
            &.apple-card {
                background-color: $white;
                .card-text {
                    color: #000;
                    text-align: justify;
                }
                .card-title {
                    color: #000;
                    text-align: center;
                }
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
    h1 {
        font-weight: 800;
        margin-bottom: 40px;
    }
}