/*
* Color palette
*/
$dark-purple: #3b2747;
$mid-purple: #472151;
$purple: #624185;
$soft-orange: #ffd2ad;
$orange: #ffa345;
$pink: #ff66cb;

/*
* Other colors
*/
$coco-game-color: #fe4a78;
$exam-adapt-color: #6bbaff;
$geriatron-color:#6eac2c;
$iso-blade-color: #ffc900;
$santander-grey: #5B5A5B;
$santander-red: #d83431;
$bitbucket-color: #2f75bc;